@keyframes background-anim{
	0%{
		background-position: right;
	}

	100%{
		background-position: left;
	}
}

:root{
	--gradient: linear-gradient(
		45deg,
		#573760,
		#5A5387,
		#AA3464,
		#E87C72,
		#FCAD8E
	);

	--input-bg: rgba(50, 50, 50, 0.3);
}

.auth{
	width: 100%;
	height: 100vh;
	color: white;
	background: var(--gradient);
	background-size: 200% 200%;

	animation: 20s infinite ease-in-out alternate background-anim;

	display: flex;
	align-items: center;
}

.auth__form-bg{
	position: absolute;
	top: 0px;
	left: 0px;
	background-color: rgba(0,0,0,0.3);
	height: 100%;
	width: 100%;
	filter: blur(5px);
}

form{
	height: max-content;
	position: relative;
	border: 1px solid grey;
	border-radius: 8px;
	margin-left: 150px;
	padding: 50px 150px 50px 50px;

	display: flex;
	flex-direction: column;
}

form *{
	z-index: 5;
}

.auth__input-container{
	font-size: 1.1em;

	display: flex;
	flex-direction: column;
}

.auth__heading1{
	position: absolute;
	right: 50px;
	top: 50%;
	font-size: 4.5rem;
	mix-blend-mode: luminosity;
	user-select: none;
}

.auth__heading2{
	font-size: 1.8rem;
	margin-bottom: 60px;
}

.auth__label{
	margin-bottom: 10px;
	text-transform: uppercase;
	letter-spacing: 0.05rem;
	font-weight: 200;
}

.auth__input{
	width: 260px;
	font-size: 1rem;
	border: 1px solid var(--dark-highlight);
	background-color: var(--input-bg);
}

.auth__heading3{
	margin-top: 50px;
}

.auth__warning{
	height: 20px;
	color: red;
	font-size: 0.8em;
	margin: 10px 0px;
}

.auth__button{
	margin: 15px 0px;
	height: 40px;
	width: 120px;
	border: 1px solid var(--light-highlight);
}

.auth__button:hover{
	background-color: var(--input-bg);
}

.auth__redirect{
	margin-right: 50px;
}
