.chat{
	--chat-sidebar-width: 15%;
	--chatbar-height: 90px;
	
	width: 100%;
	height: calc(100vh - var(--navbar-height)); 
	color: var(--active-text);

	display: flex;
}

.chat--community{
	--chat-sidebar-width: 0%;
	--chatbar-height: 90px;
	
	width: 100%;
	height: calc(100vh - var(--navbar-height) - var(--community-navbar-height)); 

	display: flex;
}

.chat__body{
	width: calc(100% - var(--chat-sidebar-width));
	height: 100%;
	overflow: hidden;
}

.chat__message-box{
	height: calc(100% - var(--chatbar-height));
	width: 100%;
	padding-bottom: 15px;
	overflow-y: scroll;

	display: flex;
	flex-direction: column;
}

.chat__message{
	width: 100%;
	padding-right: 30%;
	padding-left: 60px;
	margin: 15px 0px;
	word-wrap: break-word;

	display: flex;
	flex-direction: column;
}

.chat__message-self{
	padding-right: 60px;
	padding-left: 30%;
	text-align: end;
}

.chat__message-header{
	margin-bottom: 10px;
	font-size: 0.8em;
}

.chat__header-gap{
	display: inline-block;
	width: 30px;
}

.chat__message-body{
	font-size: 1.1rem;
}

.chat__chatbar{
	height: var(--chatbar-height);
	width: 100%;
	background-color: var(--active-bg);
	position: sticky;
	bottom: 0;
	font-size: 1.2em;
	border-top: 1px solid var(--active-highlight);

	display: flex;
	align-items: center;
	justify-content: center;
}

.chat__input{
	height: 40px;
	width: 75%;
	font-size: 1rem;
}

.chat__icon{
	cursor: pointer;
}

.chat__upload-icon{
	margin-right: 40px;
}

.chat__send-icon{
	margin-left: 40px;
}

.chat__emoji-icon{
	margin-right: 40px;
}

.chat__emoji-box{
	position: absolute;
}

.chat__sidebar{
	width: var(--chat-sidebar-width);
	padding-top: 30px;
	border-left: 1px solid var(--active-highlight);
	overflow-y: scroll;
}

.chat__user{
	height: 50px;
	padding-left: 25px;
	cursor: pointer;

	display: flex;
	align-items: center;
}

.chat__user--active{
	background-color: var(--active-highlight);
}

.chat__channel{
	font-weight: 200;
	margin-bottom: 10px;
	text-indent: 5px;
}

.chat__group{
	font-size: 1.3em;
	margin-bottom: 15px;
}

.chat__channel-group{
	margin-bottom: 30px;
}
