@keyframes fade-in{
	from{
		opacity: 0;
	}

	to{
		opacity: 1;
	}
}

.modal{
	height: 100vh;
	width: 100vw;
	background-color: rgba(0, 0, 0, 0.8);
	position: fixed;
	left: 0;
	top: 0;
	z-index: 2;

	display: flex;
	align-items: center;
	justify-content: center;

	animation-name: fade-in;
	animation-duration: 400ms;
}

.modal *{
	width: 65%;
	height: 70%;
	object-fit: contain;
}