@keyframes rotate {
	from{
		transform: rotate(0deg);
	}
	to{
		transform: rotate(360deg);
	}
}

:root{
	--light-bg: #fafafa;
	--light-sec: #ebebeb;
	--light-text: #000000;
	--light-accent: #afedec;
	--light-highlight: #dbdbdb;

	--dark-bg: #111111;
	--dark-sec: #181818;
	--dark-text: #dbdbdb;
	--dark-accent: #cc8e1d;
	--dark-highlight: #252525;

	--navbar-height: 60px;
}

*{
	box-sizing: border-box;
	margin: 0px;
}

.input--style{
	border-radius: 2px;
	background-color: var(--active-sec);
	padding: 5px 0px 5px 7px; 
	border: 1px solid var(--active-highlight);
	font-family: 'Inter', sans-serif;
	color: var(--active-text);
}

.button--style{
	background: none;
	color: var(--active-text);
	font-size: 1rem;
	border: 1px solid var(--active-highlight);
	border-radius: 5px;
	font-family: 'Inter', sans-serif;
}

.button--style:hover{
	cursor: pointer;
	background: var(--active-sec);
}

::-webkit-scrollbar{
	height: 12px;
}

::-webkit-scrollbar-thumb{
	background: none;
	box-shadow: 0px 0px 1px 1px var(--active-accent) inset;
	border-radius: 8px;
}

::-webkit-scrollbar-track{
	background: none;
}

.element--hide{
	visibility: hidden;
}

.element--remove{
	display: none;
}

input,textarea{
	padding-left: 10px;
}

input:focus,textarea:focus{
	outline: none;
}

.dark{
	--active-bg: var(--dark-bg);
	--active-text: var(--dark-text);
	--active-accent: var(--dark-accent);
	--active-sec: var(--dark-sec);
	--active-highlight: var(--dark-highlight);
}

.light{
	--active-bg: var(--light-bg);
	--active-text: var(--light-text);
	--active-accent: var(--light-accent);
	--active-sec: var(--light-sec);
	--active-highlight: var(--light-highlight);
}

body{
	font-family: 'Inter', sans-serif;
	background-color: var(--active-bg);
	color: var(--active-text);
}

.root{
	min-height: 100vh;
	width: 100vw;

	display: flex;
}

.navbar{
	position: sticky;
	top: 0;
	width: 100%;
	height: var(--navbar-height);
	border-bottom: 1px solid var(--active-highlight);
	background-color: var(--active-sec);
	z-index: 10;
	box-shadow: 0px -5px 20px 0px var(--active-accent);

	display: flex;
	align-items: center;
}

.navbar__logo{
	height: 60%;
	width: 40px;
	margin-left: 30px;
}

.navbar__search{
	height: 100%;
	width: 25%;
	position: relative;
	margin: 0px auto;

	display: flex;
	flex-direction: column;
}

.navbar__search > div:first-child{
	height: var(--navbar-height);
	width: 100%;
	
	display: flex;
	align-items: center;
	flex-shrink: 0;
}

.navbar__loading-icon{
	animation: 1s infinite linear rotate;
	width: 40px;
}

.navbar__search-icon{
	color: var(--active-text);
	position: relative;
	top: -2px;
	left: 25px;
}

.navbar__search-bar{
	height: 30px;
	width: calc(100% - 40px);
	background-color: transparent;
	padding-left: 40px;
	padding-bottom: 10px;
	border: none;
	border-radius: 0px;
	border-bottom: 1px solid var(--active-highlight);
	font-size: 1.1rem;
	
	flex-shrink: 0;
}

.search-element__list{
	width: 100%;
	border-radius: 2px;
	background-color: var(--active-bg);
}

.search-element{
	padding: 0px 5px;	
	border: 1px solid var(--active-highlight);
	border-top: none;
	color: var(--active-text);
	display: flex;
}

.search-element:hover{
	cursor: pointer;
	background: var(--active-highlight);
}

.search-element{
	height: 40px;
	padding: 0px 15px;

	display: flex;
	align-items: center;
}

.search-element__icon{
	margin-right: 20px;
}

.navbar__button-box{
	display: flex;
	align-items: center;
}

.navbar__button-box > *{
	color: var(--active-text);
	margin-right: 40px;
	font-size: 1.3em;
	cursor: pointer;
}

.navbar__login{
	font-size: 1em;
	color: var(--active-text);
	text-decoration: none;
}

.container{
	width: 100%;
	min-height: calc(100vh - var(--navbar-height));
	position: relative;
	background-color: var(--active-bg);

	display: flex;
}

.sidebar__container{
	max-width: 240px;
	width: 15%;
	z-index: 5;
	background-color: var(--active-sec);

	display: flex;
	flex-shrink: 0;
}

.sidebar--closed{
	display: none;
}

.sidebar{
	position: sticky;
	height: min-content;
	top: var(--navbar-height);
	padding-top: 50px;
	transition: width 0.5s ease-in;

	display: flex;
	flex-direction: column;
	flex-grow: 1;
}

.sidebar__popper{
	width: 8px;
	background-color: var(--active-accent);
	cursor: pointer;
	z-index: 5;

	flex-shrink: 0;
}

.sidebar > *{
	text-decoration: none;
	color: var(--active-text);
}

.sidebar__heading{
	padding: 18px 18px;
	margin: 15px 0px;
	border-top: 1px solid var(--active-highlight);
	border-bottom: 1px solid var(--active-highlight);
}

.sidebar__nav{
	font-weight: 200;
	padding: 15px 18px;
	cursor: pointer;

	display: flex;
	align-items: center;
}

.sidebar__nav:hover{
	background-color: var(--active-highlight);
}
